.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Define the keyframes for the animation */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-60px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Apply the animation to the element */
.skills-container {
  animation: fadeIn 1s ease forwards;
}

/* Add a delay to each subsequent skill */
.skills-container:nth-child(n+2) {
  animation-delay: 0.5s;
}

